<link rel="stylesheet" href="/css/card.css">
<style>
  .approvedButton {
    display: none;
  }
</style>
<script>
  function removeCard(cardId) {
    var cardToRemove = document.getElementById('card_' + cardId);

if (cardToRemove) {
  cardToRemove.style.display = "none";
}
  }

  document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.card');

    cards.forEach(function(card) {
      const printButtonVisible = card.getAttribute("data-print-button-visible");

      if (printButtonVisible === "true") {
        showPrintButton(card);
      }
    });
  });


  function myFunction(card) {
   
     const printButtonVisible = card.getAttribute("data-print-button-visible");
    
   if (printButtonVisible === "true") {
       hidePrintButton(card);
    } else {
       showPrintButton(card);
     }

     card.setAttribute("data-print-button-visible", printButtonVisible === "true" ? "false" : "true");
   }
   function send(id){
    
     console.log(id)
     console.log(ii.value)
     ii.value = id;
     console.log(ii.value)
 }

   function showPrintButton(card) {
     // Hide the "Click me" button and show the "Print" button for the specific card
     card.querySelector(".btn_success.approvalButton").classList.add("hidden");
     card.querySelector(".btn_success.printButton").classList.remove("hidden");
  }

   function hidePrintButton(card) {
     // Hide the "Print" button and show the "Click me" button for the specific card
     card.querySelector(".btn_success.approvalButton").classList.remove("hidden");
     card.querySelector(".btn_success.printButton").classList.add("hidden");
   }
  

  
</script>


<div class="window" id="window_layout">
  <div class="window_navbar">
      <%- include('../../partials/admin/navigation_bar.ejs') %>
  </div>

        <div class="card_container">
              <h1>student Bonafide</h1>
                  <table border="1" class="table">
                  
                      <tr class="header">
                          <th>Name</th>
                          <th>Roll No</th>
                          <th>Room Number</th>
                          <th>Edit</th>
          
                           <th>Delete</th>
                      </tr>
                      <% bonafide_data.forEach(function(bonafide) { %>
                        <%if(bonafide.approval!==true && bonafide.cancel!==true){%>
                          
                          <tr> 
                            <td><%- bonafide.id %></td>
                            <td><%- bonafide.name %></td>
                            <td><%- bonafide.section %></td>
                            <td><%- bonafide.bonafide_title%></td>
                            <td><%- bonafide.bonafide_des %></td>
                            <td><button><a href="/admin/bonafide/approval/<%=bonafide._id%>">Approve</a></button></td>
                            <td><button><a href="/admin/bonafide/cancel/<%=bonafide._id%>">cancel</a></button></td>
                          </tr>
                          <%}%>
                  <% }) %>
              </table>
                  </div>
                </div>
          </div>
        </div>
        