<link rel="stylesheet" href="/css/card.css">
<style>
  .approvedButton {
    display: none;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Loop through all cards on the page
    const cards = document.querySelectorAll('.card');

    cards.forEach(function(card) {
      const printButtonVisible = card.getAttribute("data-print-button-visible");

      if (printButtonVisible === "true") {
        showPrintButton(card);
      }
    });
  });


  function myFunction(card) {
   
     const printButtonVisible = card.getAttribute("data-print-button-visible");
    
   if (printButtonVisible === "true") {
       hidePrintButton(card);
    } else {
       showPrintButton(card);
     }

      
    // Store the state in the card's data attribute
     card.setAttribute("data-print-button-visible", printButtonVisible === "true" ? "false" : "true");
   }
   function send(id){
    
     console.log(id)
     console.log(ii.value)
     ii.value = id;
     console.log(ii.value)
 }

   function showPrintButton(card) {
     // Hide the "Click me" button and show the "Print" button for the specific card
     card.querySelector(".btn_success.approvalButton").classList.add("hidden");
     card.querySelector(".btn_success.printButton").classList.remove("hidden");
  }

   function hidePrintButton(card) {
     // Hide the "Print" button and show the "Click me" button for the specific card
     card.querySelector(".btn_success.approvalButton").classList.remove("hidden");
     card.querySelector(".btn_success.printButton").classList.add("hidden");
   }
  

  
</script>


<div class="window" id="window_layout">
  <div class="window_navbar">
      <%- include('../../partials/admin/navigation_bar.ejs') %>
  </div>

  <!-- <div class="card_container">
    <% bonafide_data.forEach(function(bonafide) { %>
      <div class="card">
        <div class="card_content">
          <div class="row">
            <h3>Student id: <%= bonafide.id %></h3>
          </div>
          <div class="row">
            <h3>Student Class: <%= bonafide.class %></h3>
          </div>
          <div class="row">
            <h3>Student Section: <%= bonafide.section %></h3>
          </div>
          <div class="row">
            <h3>Bonafide Title: <%= bonafide.bonafide_title %></h3>
          </div>
          <div class="row">
            <h3>Bonafide Description: <%= bonafide.bonafide_des %></h3>
          </div>
          <button class="approvalButton" onclick="showConfirmation(this)">Approval Button</button>
          <button class="approvedButton" onclick="showAlert()">Approved Button</button>
        </div>
      </div>
    <% }) %>
  </div>
</div>
   -->

  <!-- <div class="window_container">
    <div class="container center_title">
        <div class="float_left">
            <a href="/admin_index/" id="toggleButton"><button class="btn_warning">Go Back</button></a>
        </div> -->

        <div class="card_container">
        
            <% bonafide_data.forEach(function(bonafide) { %>
              <!-- Start of the form for each bonafide item -->
              <h1 class="admin-bonafide-tatile">student Bonafide</h1>
                  <table border="1" class="table table-admin-bonafide">
                  
                      <tr class="header">
                
                          <th>Roll No</th>
                            <th>Name</th>
                         <th>Description</th>
                           <th>Title</th>
                           <th colspan="2">Options</th>
                      </tr>
                      <% bonafide_data.forEach(function(bonafide) { %>
                        <%if(bonafide.approval!==true && bonafide.cancel!==true){%>
        
                          <tr> 
                            <td><%- bonafide.id %></td>
                            <td><%- bonafide.name %></td>
                             <!-- <td><%- bonafide.section %></td> -->
                            <td><%- bonafide.bonafide_title%></td>
                            <td><%- bonafide.bonafide_des %></td>
                            <td><button><a href="/admin/bonafide/approval/<%=bonafide._id%>">Approve</a></button></td>
                            <td><button><a href="/admin/bonafide/cancel/<%=bonafide._id%>">cancel</a></button></td>
                          </tr>
                          <%}%>
                  <% }) %>
              </table>
                    
                    <!-- Removed the inline onclick handler for the approval button to separate concerns -->
                    <!-- Consider handling the approval click using JavaScript separately -->
                  </div>
                </div>
              </form>
              <!-- End of the form for this bonafide item -->
            <% }) %>
          </div>
        </div>
        
<style>
  .table-admin-bonafide{
    margin-top: 70%;
   
    box-shadow: 0 0 20px var(--primary-color);
  
    border-collapse: collapse;
    width: auto;
  
    
   
  }
  .admin-bonafide-tatile{
    margin-top: 30%;
    margin-left: 180%;
    height: 2%;
    width: 100%;
   
    font-size: 1.8rem;
  }

  
</style>