  <div class="window">
    <div class="window_navbar">
  
      <%- include('partials/parent/navigation_bar.ejs') %>
    </div>
  
      <div class="window_container">
        <h2>User Id : <%=student.rollno %></h2>
        <h2>Name : <%=student.name %></h2>
        <h2>STD : <%=student.id %></h2>
        <h2>Sec : <%=student.section%></h2>
      </div>
      </div>
  
