<link rel="stylesheet" href="/css/student/student_index.css">
<div class="window" id="window_layout">
  <div class="window_navbar">
    <%- include('partials/student/navigation_bar.ejs') %>
  </div>

  <div class="window_container">
    <div class="student_information">
     <img src="/img/profile.jpg" alt="" class="user_profile">
     <div class="student_main_name"><h1> Name :  <%=student.name %></h1></div>
     <div class="student_main_id"><h1> ID :  <%=student.id %></h1></div>
        <div class="information_container">
            <div class="user_id">
                  <div class="user_detail">
                      <div class="user_title">
                        User Id
                      </div>
                      <div class="user_colon">
                        :
                      </div>
                      <div class="user_data">
                        <%=student.rollno %>
                      </div>

                      <div class="user_title">
                        Name
                      </div>
                      <div class="user_colon">
                        :
                      </div>
                      <div class="user_data">
                        <%=student.name %>
                      </div>

                      <div class="user_title">
                        STD
                      </div>
                      <div class="user_colon">
                        :
                      </div>
                      <div class="user_data">
                        <%=student.id %>
                      </div>

                      <div class="user_title">
                        Sec
                      </div>
                      <div class="user_colon">
                        :
                      </div>
                      <div class="user_data">
                        <%=student.section%>
                      </div>
                  </div>
            </div>

            <div class="user_contact">  
               <div class="contact_detail">
                    <div class="contact_title">
                      DOB
                    </div>
                    <div class="conatct_colon">
                      :
                    </div>
                    <div class="conatct_data">
                      40-Jul-2713
                    </div>

                    <div class="contact_title">
                      Phone No
                    </div>
                    <div class="conatct_colon">
                      :
                    </div>
                    <div class="conatct_data">
                      0987654321
                    </div>

                    <div class="contact_title">
                      Mobile No
                    </div>
                    <div class="conatct_colon">
                      :
                    </div>
                    <div class="conatct_data">
                      1234567890
                    </div>

                    <div class="contact_title">
                      Email ID
                    </div>
                    <div class="conatct_colon">
                      :
                    </div>
                    <div class="conatct_data">
                      abcdschool@gmail.com
                    </div>
               </div>
            </div>
            
            <div class="basic_details">
                <div class="basic_data">
                    <div class="detail_1">
                          <div class="basic_title_1">
                            GR No 
                          </div>
                          <div class="basic_colon_1">
                            :
                          </div>
                          <div class="basic_data_1">
                            23AI138
                          </div>

                          <div class="basic_title_1">
                            Father's Name
                          </div>
                          <div class="basic_colon_1">
                            :
                          </div>
                          <div class="basic_data_1">
                            Appa
                          </div>

                          <div class="basic_title_1">
                            Mother's Name
                          </div>
                          <div class="basic_colon_1">
                            :
                          </div>
                          <div class="basic_data_1">
                            Amma
                          </div>

                          <div class="basic_title_1">
                            Blood Group
                          </div>
                          <div class="basic_colon_1">
                            :
                          </div>
                          <div class="basic_data_1">
                            X
                          </div>

                          <div class="basic_title_1">
                            UID No 
                          </div>
                          <div class="basic_colon_1">
                            :
                          </div>
                          <div class="basic_data_1">
                            1597534826
                          </div>
                    </div>

                    <div class="detail_2">
                          <div class="basic_title_2">
                            Caste 
                          </div>
                          <div class="basic_colon_2">
                            :
                          </div>
                          <div class="basic_data_2">
                            ABCD
                          </div>

                          <div class="basic_title_2">
                            Health issue 
                          </div>
                          <div class="basic_colon_2">
                            :
                          </div>
                          <div class="basic_data_2">
                            non
                          </div>

                          <div class="basic_title_2">
                            GR No 
                          </div>
                          <div class="basic_colon_2">
                            :
                          </div>
                          <div class="basic_data_2">
                            23AI138
                          </div>

                          <div class="basic_title_2">
                            GR No 
                          </div>
                          <div class="basic_colon_2">
                            :
                          </div>
                          <div class="basic_data_2">
                            23AI138
                          </div>

                          <div class="basic_title_2">
                            GR No 
                          </div>
                          <div class="basic_colon_2">
                            :
                          </div>
                          <div class="basic_data_2">
                            23AI138
                          </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
  </div>

</div>
