<!-- <script src="/js/public_forem.js"></script> -->
<link rel="stylesheet" href="../../css/forum_science.css">
<div class="container">
    <div class="back_button">
    <% if (role == 'staff') { %>
       
        <a href="/staff/forem/index/redirection/<%= user %>"><i class='bx bx-arrow-back back_arrow'></i></a>
       
    <%  } else if(role == 'admin') { %> 
        
        <a href="/admin/forem/index"><i class='bx bx-arrow-back back_arrow'></i></a>
        
    <% } else{%>

            <a href="/student/forem/index/redirect/<%= user %>/<%= role %>"><i class='bx bx-arrow-back back_arrow'></i></a>
    
     <% }%>
    </div>

    <div class="referesh_button">  <a href="/forem/science"><i class='fas fa-sync-alt'  style="font-size: 24px;"></i></a><br></div>
    
    <div class="arts_main_heading"> <h2>Public Forem Science Page</h2></div>
    <div class="visitor">
        <h4 class="hello"> Hello :<%= user ? user : "guest" %></h4>
        <h4><i class='bx bxs-id-card visitors' ></i>: <%= role ? role : 'Visitor' %></h4>
    </div>
    <div class="arts_search">
        <form action="/QuestS" method="post" id="squ">
            <div class="inputGroup">
                <input type="text"  placeholder="Enter Your Questions Here"  name="question">
                
                <button type="submit"><i class='bx bx-search-alt-2'></i></button>
            </div>
            
            
        </form>
    

        <button onclick="toggleForm()" class="add_question"><span class="span_add_question">Add Question</span></button></div>
    <div class="arts_form">
        <br> <form action="/public_forem/filter_Science_question" method="post" onsubmit="return validateForm()">
            <div class="custom-select">
                <select name="AnsNO" id="filterSelect">
                  <option value="default" hidden selected disabled>Filter</option>
                  <option value="Yes">Answered</option>
                  <option value="No">Not Answered</option>
                </select>
                <span class="arrow"></span>
              </div>
           <button type="submit" value="filter">Filter</button>
            <!-- <button type="submit">Filter</button> -->
        </form></div>
 

    <!-- Inserting New Question -->
    <div class="dropdown_question">
        <div id="NewqForm" class="form-container">
            <form action="/forem/new_science_question" method="post">
                <label for="newQuestion">Enter your new question:</label><br>
                <textarea id="newQuestion" name="Nquestion" rows="4" cols="50"></textarea><br>
                <button type="submit" class="question_submit">Submit</button>
            </form>

        </div></div>
<!-- Answers Page -->


    <div  id="myForm" style="display: none;">
        <form action="/forem/science_answers" method="post">
            <input type="text" id="obj" name="obji" ><br><br>
         <span class="answer_question">   <i class='bx bxl-quora'></i><span class="colon">:</span><h3 id="quee"></h3></span>
            <textarea name="answerr" cols="50" rows="5" placeholder="enter your answer here"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="question_heading">
        <h2 >Questions And Answers</h2></div>

    <% if (vim !== null && vim.length > 0) { %>
        <% vim.reverse() %>
        <div>
            <% vim.forEach((item) => { %>
                <div class="question-container">
        
                    <!-- <h4><i class='bx bxl-quora'></i>: </h4> -->
                    <div class="question-scroll">
                        <!-- <textarea name="" id="" cols="30" rows="3" readonly></textarea> -->
                        <p><%= item.question %></p>
                        </div>
    <!-- Other content goes here -->
                        
                      <div class="question_inside">
                    <% item.postedBY.forEach((postedBy) => { %>
                        <% if (postedBy.role == 'staff') { %>
                            <h4><i class='bx bxs-user'></i>: <%= postedBy.username %>  (<span style="color: rgb(3, 19, 255);"> <%= postedBy.role.toUpperCase() %></span> )</h4>
                        <% } else if (postedBy.role == 'admin') { %>
                        <span class="admin_answer">    <h4><i class='bx bxs-user'></i>: <%= postedBy.username %>  (<span style="color: rgb(255, 21, 21);"> <%= postedBy.role.toUpperCase() %></span> )</h4></span>
                        <% } else { %>
                            <h4><i class='bx bxs-user'></i>: <%= postedBy.username %>   (<span style="color: rgb(10, 167, 117);">Student</span>)</h4>
                            <h4><i class='bx bxs-id-card' ></i>: <span ><%= postedBy.role %></span></h4>
                        <% } %>
                    <% }) %>
                    <button onclick="showUpdateForm('<%= item._id %>')" class="answer_button">Give Answer</button><br></div>
    
                 
                    <button onclick="toggleAnswers(this)">Answers</button>
                   
                     <div class="answer-container" style="max-height: 0; overflow: hidden; transition: max-height 0.3s ease-out;" >
                       
                        <% item.answer.forEach((answerObj, index) => { %>
                            <div class="answer">
                                <% if (answerObj.verified === true) { %>
                              <h3><%= index + 1 %>) Answer :    <span class="answer_box">   <%= answerObj.answer %></h3></span>
                                    <h4><i class='bx bxs-user'></i> : <%= answerObj.Answeredby%> (<span  style="color: rgb(188, 4, 4);"><%= answerObj.role.toUpperCase() %></span>)<span class="verified">Verified &#10004;</span></h4>
                                <% } else { %>
                                    <h3> <%= index+1 %> )Answer : <%= answerObj.answer %></h3>
                              <span class="answer_icon">
                                    <% if(answerObj.role == 'staff' || answerObj.role == 'admin'){ %>
                                        <h4><i class='bx bxs-user'></i> : <%= answerObj.Answeredby %> (<span style="color: rgb(188, 4, 4);"><%= answerObj.role.toUpperCase() %></span>)</h4>
                                    <% } else { %>
                                        <h4><i class='bx bxs-user'></i> : <%= answerObj.Answeredby %> (<span style="color: rgb(10, 167, 117);">Student</span>)</h4>
                                     <span class="answer_role">   <h4><i class='bx bxs-id-card' ></i>: <span ><%= answerObj.role %></span></h4></span> </span>
                                    <% } %>
                                   
                                <% } %>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No Questions related to your search</p>
    <% } %>

<script>
    function toggleAnswers(button) {
        var answerContainer = button.nextElementSibling;
        if (answerContainer.style.maxHeight === '0px' || answerContainer.style.maxHeight === '') {
            answerContainer.style.maxHeight = answerContainer.scrollHeight + 'px';
        } else {
            answerContainer.style.maxHeight = '0';
        }
    }

    function toggleForm() {
        var form = document.getElementById('NewqForm');
        form.classList.toggle('active');
    }


    add = () => {
        var nn = document.getElementById('NewqForm')
        if (nn.style.display == 'none') {
            nn.style.display ='block';    
        }
        else {
            nn.style.display = 'none';
        }
    }
    
    
    
    function showUpdateForm(objId, question) {
        var formDiv = document.getElementById('myForm');
        var inp = document.getElementById('obj');
        console.log(objId);
        console.log(question);
       
        if (formDiv.style.display == 'none') {
            formDiv.style.display='block';
            inp.style.display ='none';
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Optional: smooth scrolling animation
            });
        }
        else {
            formDiv.style.display = 'none';
        }
    
     
     document.getElementById('quee').textContent = question;
     inp.value = objId;
     
    }
    
    
        function validateForm() {
            var selectedOption = document.getElementById('filterSelect').value;
            if (selectedOption === 'default') {
                alert('Please select a valid option.');
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }




    async function ver() {
   

        var answer = document.getElementById('answerValue').value;
        var question = document.getElementById('questionValue').value;

        console.log(answer);
        console.log(question);
        try {
            const response = await fetch(`/forem_verification_science/${answer}/${question}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(answer)
            });
            if (response.ok) {
                console.log('Verification successful');
                location.reload(); // Reload the page
            } else {
                console.error('Verification failed');
            }
        } catch (error) {
            console.error('Error sending data to backend:', error);
        }
    }
    

</script>

