<!-- side_menu -->
<aside id="sidebar" class="hide">
  <a href="/" class="brand" target="_blank">
    <i class="bx bxs-smile"></i>
    <span class="text">ABCD Higher Secondary School</span>
  </a>

  <ul class="side_menu top">
    <li class="active">
      <a
        href="/student_index/<%=student.rollno%>/<%=student.id%>_<%=student.section%>"
      >
        <i class="bx bxs-dashboard"></i>
        <span class="text">Info</span>
      </a>
    </li>
    <li>
      <a
        href="/student/attendance/<%=student.rollno%>/<%=student.id%>/<%=student.section%>/today"
      >
      <i class='bx bx-line-chart'></i>

        <span class="text">Attendance</span>
      </a>
    </li>




    
    <li>
      <a href="/student/bonafide/<%=student.rollno%>/<%=student.id%>/<%=student.section%>">
        <i class='bx bxs-paper-plane' ></i>
        <span class="text">Bonafide</span>
      </a>
    </li>

    <li>
      <a
        href="/student/assignment/<%=student.rollno%>/<%=student.id%>/<%=student.section%>"
      >
      <i class='bx bxs-doughnut-chart' ></i>
        <span class="text">Assignment</span>
      </a>
    </li>
    <li>
      <a
        href="/student/time_table/<%=student.rollno%>/<%=student.id%>/<%=student.section%>"
      >
      <i class='bx bx-table' ></i>
        <span class="text">Time Table</span>
      </a>
    </li>
    <li>
      <a
        href="/student/dairy/<%=student._id%>/<%=student.id%>/<%=student.section%>"
      >
      <i class='bx bxs-bookmarks'></i>
        <span class="text">Diary</span>
      </a>
    </li>
    <li>
      <a href="/student/fees/<%=student.rollno%>/<%=student.id%>/<%=student.section%>"
      >
        <i class='bx bxs-badge-dollar'></i>
        <span class="text">Fees</span>
      </a>
    </li>
    <li>
      <a href="/student/forumclass/<%=student.rollno%>/<%=student.id%>/<%=student.section%>"
      >
      <i class='bx bxs-extension'></i>
        <span class="text">Class & Forum</span>
      </a>
    </li>

    <li>
      <a href="/student/academic_calendar/<%=student.rollno%>/<%=student.id%>/<%=student.section%>">
        <i class='bx bx-calendar'></i>
        <span class="text">Academic calendar</span>
      </a>

    </li>
    <!-- <li>
   
      <a
        href="/student/quiz/<%=student.rollno%>/<%=student.id%>/<%=student.section%>"
      >
      <i class='bx bxl-redux'></i>
        <span class="text">Quiz</span>
      </a>
    </li> -->
    <li>
      <a href="/student/testmarks/<%=student._id%>/<%=student.id%>/<%=student.section%>">
        <i class='bx bxs-book-add'></i>
        <span class="text">Test Results</span>
      </a>
    </li>
    <li>
      <a href="/student/circular/<%=student._id%>/<%=student.id%>">
        <i class="bx bxs-group"></i>
        <span class="text">Circular</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        <i class='bx bx-world'></i>
        <span class="text">Public Forum</span>
      </a>
    </li> -->
  </ul>

  <ul class="side_menu">
    <li>
      <a href="/logout" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</aside>

<!-- top_menu -->
<section id="top_menu">
  <nav>
    <i class="bx bx-menu"></i>

    <a href="#" class="nav-link">Student Dashboard</a>

    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search..." />
        <button type="submit" class="search-btn">
          <i class="bx bx-search"></i>
        </button>
      </div>
    </form>

    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode"></label>

    <div class="notification">
      <a href="#" class="notification-icon">
        <i class="bx bxs-bell"></i>
        <a href="/student/notification/<%=student._id%>/<%=student.id%>"><span class="num" id="noOfNotifications"><%- notification.noOfNotifications %></span></a>
    </div>

    <a href="#" class="profile">
      <img src="/img/download.jpg" />
    </a>
  </nav>
</section>

