<link rel="stylesheet" href="/css/transports.css">
<div class="window" id="window_layout">
    <div class="window_navbar">
        <%- include('../../partials/admin/navigation_bar.ejs') %>
    </div>

    <div class="window_container">
        <%- include('../../partials/admin/facilities_subnavbar.ejs') %>
        <div class="container center_title transport-title">
            Transport
        </div>
        <div class="display_transport">
            <div class="transport_container">
            <table border="1" class="transports-tablee">
                <h1 class="Transport_bus"> Transport details </h1>
                <tr class="headerr">
                    <th>bus number</th>
                    <th>number plate</th>
                   
                    <th>Route</th>
                    <!-- <th>staff designation</th> -->
                    <th>Roll no1</th>
                    <th>alternate Driver </th>
                    <th>Roll no2</th>
                    <th>Diver name</th>
                    
                    
                </tr>
                
                <% transport.transports.forEach(transport => { %>
                    <tr >
                        <td><%- transport.bus_number %></td>
                        <td><%- transport.number_plate %></td>
                       
                        <td><%- transport.route %></td>
                        <td><%- transport.roll_no1 %></td>
                        <td><%- transport.roll_no2 %></td>
                        <!-- <td><%- transport.staff_designation %></td> -->
                        
                        <td><%- transport.Driver %></td>
                        <td><%- transport.Alterdriver %></td>
                        
                       
                    </tr>
                    <% }) %>
            </table>
    
        
        </div>
        
        </div>
        <div class="add-Transports">
            <button onclick="show()">Add transports</button>
        </div>
        
        <div class="pop_body">
          
            <div id="formContainer" class="popup Transport_form" style="display: none;">
                <span class="close_icon" id="closePopup">&times;</span> <br><br>
                <div class="container center_title">
                    Transport Details Form
                </div>
                <form id="transportform" action="/admin/Transport/add_transport" method="post">
                    <div class="form_inputs">
                        <div class="form_div file_input">
                            <label for="name">bus number:</label>
                            <input type="text" name="bus_number" class="input-data" required>
                        </div>
                        <div class="form_div file_input">
                            
                            <label for="classes">number plate:</label>
                            <input type="text" name="number_plate" class="input-data" required>
                        </div>
                        <div class="form_div file_input input-route" style=" height: 70%; margin-top: -10%;"  >
                            <label >Route:</label>
                            <input type="text" name="route" class="input-data" required>
                        </div>
                        <div class="form_div file_input input-roll">
                            <label >Roll no1:</label>
                            <select id="" name="roll_no1" class="input-data" onchange="UpdateRoll(this.value)">
                                <option value="default" class="input-data">choose a roll no</option>
                                <% nonteach.forEach(nonteach => { %>
                                    <option value="<%- nonteach.staff_id %>" class="input-data"><%- nonteach.staff_id %></option>
                                    <%})%>
                            </select>
                        </div>

                        
                        <div class="form_div file_input input-rollalter">
                            <label class="name-driver">select alternate driver:</label>
                            <input type="text" id="alternate_driver_Name" name="Alterdriver" class="input-driver">
                           
                        </div>
                        
                        <div class="form_dive file_input input-roll">
                            <label class="select-rollno" >Roll no2:</label>
                            <select id="" name="roll_no2" class="input-select-rollno" onchange="UpdateRoll2(this.value)">
                                <option value="default" class="input-data">choose a roll no</option>
                                <% nonteach.forEach(nonteach => { %>
                                    <option value="<%- nonteach.staff_id %>" class="input-data"><%- nonteach.staff_id %></option>
                                    <%})%>
                            </select>
                        </div>
                       

                        <div class="form_div file_input">
                            <label class="input-select-drivers">select driver:</label>
                            <input type="text" id="driver_Name" name="Driver" class="input-data-driver">
                           
                        </div>
                                    
                    </div>
                    <div class="transport-submit-form">
                        <div class="transport-submit-form-btns">
                    <div class="form_submit">
                        <input type="submit" value="Submit">
                    </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        
        <script>
         
            var drivername = document.getElementById('driver_Name')
         function show(){ 
            document.getElementById("formContainer").style.display = "block";
           }

           document.getElementById("closePopup").addEventListener('click',()=>{
             document.getElementById("formContainer").style.display = "none";
            })
             var alternate_driver = document.getElementById('alternate_driver_Name')
         function show(){ 
            document.getElementById("formContainer").style.display = "block";
           }

           document.getElementById("closePopup").addEventListener('click',()=>{
             document.getElementById("formContainer").style.display = "none";
})

function UpdateRoll(optionValue) {
            console.log(optionValue);
             var nonteach='<%-JSON.stringify(nonteach)%>';
             nonteach=JSON.parse(nonteach);
             for (var i = 0; i <nonteach.length; i++) { 
                if ( nonteach[i].staff_id == optionValue) {
                    
                    var staff_name =  nonteach[i].staff_name ;
                  
                    alternate_driver.value = staff_name;
                    //  // Assuming feesInput is defined elsewhere
                }
             } 
       
    }

function UpdateRoll2(optionValue) {
    console.log(optionValue);
             var nonteach='<%-JSON.stringify(nonteach)%>';
             nonteach=JSON.parse(nonteach);
             for (var i = 0; i <nonteach.length; i++) { 
                if ( nonteach[i].staff_id == optionValue) {
                    
                    var staff_name =  nonteach[i].staff_name ;
                   
                    drivername.value = staff_name;
                    //  // Assuming feesInput is defined elsewhere
                }
             } 
    }

        </script>
        
        
        
        
    </div>
</div>
<style>
      .Transport_form {
        margin-top: -10%;
        margin-left: 20%;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

</style>
