<link rel="stylesheet" href="/css/students_test_result.css">
<% function formatDate(date) {
    const formattedDate = new Date(date);
    const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
    return formattedDate.toLocaleDateString('en-GB', options);
} %>

    <% function formatTime(date) { const formattedTime=new Date(date); const hours=formattedTime.getHours() % 12 || 12;
        const minutes=formattedTime.getMinutes(); const ampm=formattedTime.getHours()>= 12 ? 'PM' : 'AM';

        return `${hours}:${minutes.toLocaleString('en-US', { minimumIntegerDigits: 2 })} ${ampm}`;
        } %>

<div class="window" id="window_layout">
    <%if(role==="student"){%>
        <div class="window_navbar">
            <%- include('../partials/student/navigation_bar.ejs',{notification}) %>
         </div>
    <%}else{%>
        
        <div class="window_navbar">
            <%- include('../partials/parent/navigation_bar.ejs') %>
        </div>
    <%}%>
    <div class="window_container">
        <div class="container center_title">
            Circulars
        </div>
        <%if(datas){%>
            <%datas.reverse().map((item)=>{%> 
            <a href="/student/circularSeen/<%- item._id %>/<%- student._id %>/<%- student.id %>">
               <div class="container_marks box"> 
                    <div class="main_date">
                        title:<h1> <%- item.title %> </h1>
                    </div>
                    <div class="main_date">
                        date<h1><%- formatDate(item.date) %> </h1>
                    </div>
                    <div class="main_date">
                        time<h1><%- formatTime(item.date) %> </h1>
                    </div>
                        <%if(!student.seenCirculars.includes(item._id)){%>
                            <div class="main_date">
                                <br>
                                <h1 style="color: green;">new</h1>
                            </div>
                        <%}%>
                </div> 
            </a>
            <%})%>
        <%}else{%>
            <h1>No circular</h1>
        <%}%>
    </div>
</div>
<script>
function hideCircular(id){
    document.getElementById(id).style.display='none';
    document.getElementsByName(id)[0].style.display = 'none';
}

function hideSeenCircularContainer(){
        document.getElementById('seenCircularContainer').style.display='none';
}
function showPopUp(){
    document.getElementById('seenCircularContainer').style.display='flex';
}

function showCircular(id){
    document.getElementById(id).style.display="flex"
    document.getElementsByName(id)[0].style.display = 'block'
}
</script>
