<link rel="stylesheet" href="/css/admin/class_info/view_student.css">

<script>
    function hide_popup_parent_details() {
        var element = document.getElementById("popup_parent_details");
        element.style.display = "none";
    }
    
    function display_popup_parent_details() {
        var element = document.getElementById("popup_parent_details");
        element.style.display = "flex";
    }

    function hide_popup_edit_student_details() {
        var element = document.getElementById("popup_edit_student_details");
        element.style.display = "none";
    }
</script>

<div class="window">
    <div class="window_navabr">
        <%- include('../../partials/admin/navigation_bar.ejs') %>
    </div>

    <div class="window_container container_lr">
        <div class="container center_title">
            <%- title %> - <%- sec %>
            <div class="float_left">
               <a href="/admin/viewParent/<%= student_doc._id %>/<%= title %>"> <button class="view_btn">Parent Details</button></a>
            </div>
            <div class="float_right">
                <a href="/admin/class_info/class_list/view_section/delete_student/<%= student_doc._id %>/<%= title %>" id="toggleButton"><button class="delete_btn">Delete</button></a>
            </div>
        </div>

        <div class="student_section">
            <div class="student_section_title">
                <h1 class="section_title">Basic Information</h1>
            </div>
    
            <div class="section_body">
                <div class="section_col">
                    <div class="section_row">
                        <h1>Name</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.name %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Roll.No</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.rollno %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Password</h1>
                        <h1>:</h1>
                        <h1><%- hash_student_password %></h1>
                    </div>
                </div>
            </div>
            <!-- <div class="edit_student">
                <a href="/admin/edit_student/<%= student_doc._id %>/<%= title %>">
                     <button class="btn_success edit_student_btn">Edit student basic information</button>
                </a>             
            </div> -->
        </div>

        <div class="student_section">
            <div class="student_section_title">
                <h1 class="section_title">Personal Information</h1>
            </div>
    
            <div class="section_body">
                <div class="section_col">
                    <div class="section_row">
                        <h1>Date of Birth</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.dob %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Gender</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.gender %></h1>
                    </div>  
                    <div class="section_row">
                        <h1>residence</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.residence %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Father's Name</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.father_name %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Mother's Name</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.mother_name %></h1>
                    </div>
                </div>

                <div class="section_col">
                    <div class="section_row">
                        <h1>Blood Group</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.blood_group %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Address</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.address %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Community</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.community %></h1>
                    </div>
                    <div class="section_row">
                        <h1>Nativity</h1>
                        <h1>:</h1>
                        <h1><%- student_doc.nativity %></h1>
                    </div>
                </div>
            </div>
            <div class="edit_section">
                <a href="/admin/edit_studentPersonal/<%= student_doc._id %>/<%= title %>">
                    <button class="edit_btn edit_section_btn">Edit student personal details</button>
                </a>
            </div>
        </div>
</div>

<!-- Parent Details Form
<div class="popup_container" id="popup_parent_details" style="display: none;">
    <div class="popup" id="popup">
        <div class="popup_header">
            <p class="pop_title">Add Student</p>
            <span class="close_icon" id="closePopup" onclick="hide_popup_parent_details()">&times;</span>
        </div>
        <div class="pop_body">
            <form action="" method="post" enctype="multipart/form-data" class="form">
                <div class="form_inputs">
                    <div class="form_div text_input">
                        <input type="text" class="input" id="name" name="name" required>
                        <label for="name">Student Name</label>
                    </div>

                    <div class="form_div text_input">
                        <input type="text" class="input" id="rollno" name="rollno" required>
                        <label for="rollno">Roll Number</label>
                    </div>

                    <div class="form_div text_input">
                        <input type="date" class="input" id="dob" name="dob" required>
                        <label for="dob">Date of Birth</label>
                    </div>  
                    
                    <div class="form_div radio_input">
                        <div class="radio_title">
                            <label for="">Gender</label>
                        </div>
                        <div class="radio_buttons">
                            <div class="radio_option">
                                <input type="radio" id="male" name="gender" value="Male">
                                <label for="male">Male</label>                                  
                            </div>
                            <div class="radio_option">
                                <input type="radio" id="female" name="gender" value="Female">
                                <label for="female">Female</label>                                           
                            </div>
                            <div class="radio_option">
                                <input type="radio" id="other" name="gender" value="Other">
                                <label for="other">Other</label>
                            </div>
                        </div>
                    </div> 
                  
                    <div class="form_div select_input">
                        <label class="select_label" for="blood_group">Blood Group</label>
                        <select name="blood_group" id="blood_group" required>
                            <option value=""></option>
                            <option value="AB+">AB+</option>
                            <option value="A+">A+</option>
                            <option value="B+">B+</option>
                            <option value="O+">O+</option>
                            <option value="AB-">AB-</option>
                            <option value="A-">A-</option>
                            <option value="B-">B-</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
                    <div class="form_div select_input">
                        <label class="select_label" for="residence">residence</label>
                        <select name="residence" id="residence" required>
                            <option  selected></option>
                            <option value="local">local</option>
                            <option value="hostel">hostel</option>
                            <option value="bus">Bus</option>
                          
                        </select>
                    </div>

                    <div class="form_div text_input">
                        <input type="number" class="input" id="phone" name="phone" required>
                        <label for="phone">Phone Number</label>
                    </div> 

                    <div class="form_div text_input">
                        <input type="text" class="input" id="father_name" name="father_name" required>
                        <label for="father_name">Father's Name</label>
                    </div>

                    <div class="form_div text_input">
                        <input type="text" class="input" id="mother_name" name="mother_name" required>
                        <label for="mother_name">Mother's Name</label>
                    </div>

                    <div class="form_div textarea">
                        <label for="address">Address</label>
                        <textarea name="address" id="address"></textarea required>
                    </div>

                </div>

                <div class="form_submit">
                    <input type="submit">
                </div>    
            </form>
        </div>        
    </div>
</div> -->

<!-- Student Edit Form 2 -->

<%if(edit !== false){%>
        <div class="popup_container" id="popup_edit_student_details" style="display: flex;">
            <div class="popup" id="popup">
                <div class="popup_header">
                    <p class="pop_title">Student Details</p>
                    <span class="close_icon" id="closePopup" onclick="hide_popup_edit_student_details()">&times;</span>
                </div>
                <div class="pop_body">
                    <form action="/admin/edit_studentPersonal/<%= student_doc._id %>/<%= title %>" method="post" enctype="multipart/form-data" class="form">
                        <div class="form_inputs">
                            <div class="form_div text_input">
                                <input type="text" class="input" id="readonly" name="name" value="<%-(studentDetails.name !== undefined || studentDetails.name !== '') ? studentDetails.name: ' ' %> " readonly>
                                <label for="name">Student Name</label>
                            </div>

                            <div class="form_div text_input">
                                <input type="text" class="input" id="readonly" name="rollno" value="<%-(studentDetails.rollno !== undefined || studentDetails.rollno !== '') ? studentDetails.rollno: ' ' %> " readonly>
                                <label for="rollno">Roll Number</label>
                            </div>

                            <div class="form_div text_input">
                                <input type="date" class="input" id="dob" value="<%-(studentDetails.dob !== undefined || studentDetails.dob !== '') ? studentDetails.dob: ' ' %>" name="dob">
                                <label for="dob">Date of Birth</label>
                            </div>
                            
                            <div class="form_div radio_input">
                                    <div class="radio_title">
                                        <label for="">Gender</label>
                                    </div>
                                    <div class="radio_buttons">
                                        <div class="radio_option">
                                            <input type="radio" id="male" name="gender" value="Male"  <%-( ( studentDetails.gender != undefined || studentDetails.gender != '') && studentDetails.gender === 'Male')? 'checked' : '' %> >
                                            <label for="male">Male</label>                                  
                                        </div>
                                        <div class="radio_option">
                                            <input type="radio" id="female" name="gender" value="Female" <%-( ( studentDetails.gender != undefined || studentDetails.gender != '') && studentDetails.gender === 'Female')? 'checked' : '' %> >
                                            <label for="female">Female</label>                                           
                                        </div>
                                        <div class="radio_option">
                                            <input type="radio" id="other" name="gender" value="Other" <%-( ( studentDetails.gender != undefined || studentDetails.gender != '') && studentDetails.gender === 'Other')? 'checked' : '' %> >
                                            <label for="other">Other</label>
                                        </div>
                                    </div>
                            </div>  

                            <div class="form_div select_input">
                                <label class="select_label" for="blood_group">Blood Group</label>
                                <select name="blood_group" id="blood_group" required>
                                    <option value=""></option>
                                    <option value="AB+" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === "AB+" )? 'selected' : '' %> >AB+</option>
                                    <option value="A+" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'A+')? 'selected' : '' %> >A+</option>
                                    <option value="B+" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'B+')? 'selected' : '' %> >B+</option>
                                    <option value="O+" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'O+')? 'selected' : '' %>>O+</option>
                                    <option value="AB-" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'AB-')? 'selected' : '' %>>AB-</option>
                                    <option value="A-" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'A-')? 'selected' : '' %>>A-</option>
                                    <option value="B-" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'B-')? 'selected' : '' %>>B-</option>
                                    <option value="O-" <%-( ( studentDetails.blood_group != undefined || studentDetails.blood_group != '') && studentDetails.blood_group === 'O-')? 'selected' : '' %>>O-</option>
                                </select>
                            </div>
            


                            <div class="form_div text_input">
                                <input type="number" class="input" id="phone" name="phone" value="<%-(studentDetails.phone !== undefined || studentDetails.phone !== '') ? studentDetails.phone: ' ' %>" required>
                                <label for="phone">Phone Number</label>
                            </div> 

                    <!-- <div class="form_div select_input">
                        <label class="select_label" for="blood_group">Blood Group</label>
                        <select name="blood_group" id="blood_group" required>
                            <option value=""></option>
                            <option value="AB+">AB+</option>
                            <option value="A+">A+</option>
                            <option value="B+">B+</option>
                            <option value="O+">O+</option>
                            <option value="AB-">AB-</option>
                            <option value="A-">A-</option>
                            <option value="B-">B-</option>
                            <option value="O-">O-</option>
                        </select>
                    </div> -->
                    <div class="form_div select_input">
                        <label class="select_label" for="residence">residence</label>
                        <select name="residence" id="blood_group" required>
                            <option  selected></option>
                            <option value="local" <%-( ( studentDetails.residence != undefined || studentDetails.residence != '') && studentDetails.residence === "local" )? 'selected' : '' %>>local</option>
                            <option value="hostel"<%-( ( studentDetails.residence != undefined || studentDetails.residence != '') && studentDetails.residence === "hostel" )? 'selected' : '' %>>hostel</option>
                            <option value="bus" <%-( ( studentDetails.residence != undefined || studentDetails.residence != '') && studentDetails.residence === "bus" )? 'selected' : '' %>>Bus</option>
                          
                        </select>
                    </div>


                            <div class="form_div text_input">
                                <input type="number" class="input" id="phone" value="<%-(studentDetails.emis !== undefined || studentDetails.emis !== '') ? studentDetails.emis: ' ' %>" name="emis">
                                <label for="phone">Emis Number</label>
                            </div>

                            <div class="form_div textarea">
                                <label for="address">Address</label>
                                <textarea name="address" id="address"> <%-(studentDetails.address !== undefined || studentDetails.address !== '') ? studentDetails.address : ' ' %> </textarea required>
                            </div>

                            <div class="form_div text_input">
                                <input type="number" class="input" id="aadhar_no" value="<%-(studentDetails.aadhar_no !== undefined || studentDetails.aadhar_no !== '') ? studentDetails.aadhar_no: ' ' %>" name="aadhar_no">
                                <label for="aadhar_no">Aadhar No</label>
                            </div>

                            <div class="form_div text_input">
                                <input type="text" class="input" id="nativity" value="<%-(studentDetails.nativity !== undefined || studentDetails.nativity !== '') ? studentDetails.nativity: ' ' %>" name="nativity">
                                <label for="nativity">Nativity</label>
                            </div>

                            <div class="form_div text_input">
                                <input type="text" class="input" id="community" value="<%-(studentDetails.community !== undefined || studentDetails.community !== '') ? studentDetails.community: ' ' %>" name="community">
                                <label for="community">Community</label>
                            </div>

                            <div class="form_div text_input">
                                <input type="email" class="input" id="email"  value="<%-(studentDetails.email
                                !== undefined || studentDetails.email !== '') ? studentDetails.email: ' ' %>" name="email">
                                <label for="email">Email ID</label>
                            </div>

                            <div class="form_div select_input">
                                <label class="select_label" for="transport_type">Transport</label>
                                <select name="transport_type" id="transport_type">
                                    <option value=""></option>
                                    <option value="School Bus" 
                                    <%-( ( studentDetails.transport_type != undefined || studentDetails.transport_type != '') && studentDetails.transport_type === "School Bus" )? 'selected' : '' %> >
                                    School Bus
                                    </option>
                                    <option value="Out Bus"  
                                    <%-( ( studentDetails.transport_type != undefined || studentDetails.transport_type != '') && studentDetails.transport_type === "Out Bus" )? 'selected' : '' %> >
                                    Out Bus
                                    </option>+</option>
                                </select>
                            </div>

                            <div class="form_div radio_input">
                                <div class="radio_title">
                                    <label for="">Disability</label>
                                </div>
                                <div class="radio_buttons">
                                    <div class="radio_option">
                                        <input type="radio" id="yes_disability" name="disability" value="yes_disability"
                                        <%-( ( studentDetails.disability != undefined || studentDetails.disability != '') && studentDetails.disability === 'yes_disability')? 'checked' : '' %>>
                                        <label for="yes_disability">Yes</label>                                  
                                    </div>
                                    <div class="radio_option">
                                        <input type="radio" id="no_disability" name="disability" value="no_disability"
                                        <%-( ( studentDetails.disability != undefined || studentDetails.disability != '') && studentDetails.disability === 'no_disability')? 'checked' : '' %>>
                                        <label for="no_disability">No</label>                                           
                                    </div>
                                </div>
                            </div> 

                                               
                        </div>

                        <div class="form_submit">
                            <input type="submit">
                        </div>    
                    </form>
                </div>        
            </div>
        </div>
<%}%>