
<link rel="stylesheet" href="/css/card.css">
<div class="window" id="window_layout">
    <div class="window_navbar">
      <%- include('../partials/staff/navigation_bar.ejs',{circularNotification}) %>
    </div>
  
    <div class="window_container">
      <div class="card_container">
        <% subject.forEach((item)=>{ %>
          
          <a href="/staff/assignment_list/<%- staffdata[0]._id %>/<%= item.class  %>/<%= item.section  %>/<%= item.subject %> ">
             <div class="card">
              <div class="card_content">
                <div class="row">
                    <h3>Class:  Class :<%= item.class  %></h3>
                </div>
                <div class="row">
                    <h3> Section :<%- item.section %> </h3>
                </div>
                <div class="row">
                    <h3>Subject : <%= item.subject %></h3>
                </div>
              
              
             </div>
            </div>
            </a>
        <%   }) %>
      </div>
    </div>  
  </div>
</div>
