<link rel="stylesheet" href="/css/admin/class_info/class_list.css">
<div class="window" id="window_layout">
    <div class="window_navbar">
      <%-include('../partials/staff/navigation_bar.ejs') %>
    </div>
    
    <div class="window_container">
    <h1><%=class_data.class%>-<%=class_data.section%></h1>
    <br>
    <form class="form" action="/staff/markentry/<%=staffdata[0]._id%>/<%=class_data.batch%>_<%=class_data.section%>/markentered" method="post">
            <div class="form_inputs">
                  <div class="form_div text_input">
                    <input class="input" type="date" name="date" id="date"  required>
                    <label for="date">Test date</label>
                  </div>
                  <div class="form_div text_input">
                    <input class="input" type="text" name="testtile" id="testtile" required>
                    <label for="testtile">Test title</label>
                  </div>          
                  <div class="form_div text_input">
                    <input class="input" type="text" name="maxmarks" id="maxmarks" required>
                    <label for="maxmarks">maximum marks</label>
                  </div>   
                  <div class="form_div text_input">
                    <input class="input" onchange="changevalue()" type="text" name="minmarks" id="minmarks" required>
                    <label for="minmarks" >minium marks</label>
                  </div>
              </div>    

        <div class="table_container">
          <table class="table">
                <tr class="row">
                  <th class="table_header title">name</th >
                  <th class="table_header title">rollno</th>
                  <th class="table_header title">mark</th>
                  <th class="table_header title">status</th></tr>

                <%student_details.map((item)=>{%>
                <tr class="row">
                <td><%=item.name%></td>
                <td><%=item.rollno%></td>
                      
                      <td>
                        <input 
                        type="text" 
                        class="marks" 
                        name="<%=item.rollno%>" 
                        onchange="getvalue(this)" 
                        id="<%=item.rollno%>" 
                        data-fid="marks"
                        ></td>
                      <td>
                        <input 
                        type="text" 
                        name="<%=item.rollno%>"  
                        id="<%=item.rollno%>_status"
                        data-fid="status">
                      </td>
                </tr> 
                <%})%>


          </table>
          </div>    
          <button>sumbit</button>
    </form>


    </div>
    </div>  

    <script>
      function condition(maximum,minimum,value,id){           
              var status_id= id+"_status"
              var status_element=document.getElementById(status_id)

                  if(value>=minimum){
                   status_element.value="pass"
                  }
                  else{
                    status_element.value="fail"
                  }         
              }
      function getvalue(element){

        var value=parseInt(element.value)
        var id=element.id
        var minimum=parseInt(document.getElementById('minmarks').value)
        var maximum=parseInt(document.getElementById("maxmarks").value)
        condition(maximum,minimum,value,id)
      }     

      
      function changevalue(){
        var elements=document.getElementsByClassName("marks")
        for(i=0;i<elements.length;i++){
          getvalue(elements[i])
        }
      }

    </script>
</div>