<link rel="stylesheet" href="/css/admin/circular/circular.css">

<% function formatDate(date) { const formattedDate=new Date(date); const options={ day: '2-digit' , month: '2-digit' ,
    year: 'numeric' }; return formattedDate.toLocaleDateString('en-GB', options); } %>

    <% function formatTime(date) { const formattedTime=new Date(date); const hours=formattedTime.getHours() % 12 || 12;
        const minutes=formattedTime.getMinutes(); const ampm=formattedTime.getHours()>= 12 ? 'PM' : 'AM';

        return `${hours}:${minutes.toLocaleString('en-US', { minimumIntegerDigits: 2 })} ${ampm}`;
        } %>

        <div class="window" id="window_layout">
            <div class="window_navbar">
                <%- include('../partials/staff/navigation_bar.ejs',{circularNotification}) %>
            </div>
            <div class="window_container">
                <a href="/staff/inbox/<%- staffdata[0]._id %>"><button>Back</button></a>
                <div class="container center_title">
                    <%- newCircular.title %>
               </div>
               <div>
                From: <%- newCircular.from %> <br> <br>
                <%- newCircular.message %>
            </div>
            </div>
        </div>