<link rel="stylesheet" href="/css/time_table.css">

<div class="window">
    <div class="window_navbar">
        <%- include('../partials/staff/navigation_bar.ejs',{circularNotification}) %>
    </div>

    <div class="window_container">
       
        <div class="timetable_heading"><h1>Time Table</h1></div>
        <!-- <table>
            <tr>
                <th><%=staffdata[0].staff_id%></th>
                <%= staffdata[0].time_table.day2[0].sub%>
            </tr>
        </table> -->

                    <table class="table">
                        <tr class="row">

                            <th class="header">D/H</th>
                            <%for(let i=1;i<=dayhour.hr;i++){%>
                                <th class="header">
                                    <%=i%>
                                </th>
                                <%}%>
                        </tr>

                        <%for(let i=1;i<=dayhour.day;i++){%>
                            <tr>
                                <th class="header1">
                                    <%=i%>
                                </th>
                                <%for(let j=0;j< dayhour.hr;j++){%>
                                    <td>
                                        <% let disp=true; %>
                                            <%staffdata.forEach((item)=>{%>
                                                <% if (item.time_table['day' + i][j].sub !=='null' ) { %>
                                                    <p>
                                                        <%=item.time_table['day' + i][j].sub%>
                                                    </p>
                                                    <p>
                                                        <%=item.time_table['day' + i][j].class%>-
                                                            <%=item.time_table['day' + i][j].sec%>
                                                    </p>

                                                    <% disp=false; %>
                                                        <%}%>

                                                            <%})%>
                                                                <% if(disp){%>
                                                                    <p>None</p>
                                                                    <%}%>
                                    </td>
                                    <%}%>
                            </tr>
                            <%}%>


            </table>
            
           </div>
            
    
</div>
